body {
  min-height: 2000px;
max-width: 100%;
}

.navbar-static-top {
  margin-bottom: 19px;
  padding-right: 40px;
  padding-left: 20px;

  width: 100%;
  border-top-left-radius: 20px;
border-top-right-radius:  20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
